[package]
name = "CorePackages"
authors = ["Roblox"]
license = ""
version = "0.1.0"

[config]
registry_index = { url = "https://apis.simulprod.com/rotriever-registry", protocol = "zip" }

[dependencies]
ServiceContractsProto = "0.0.61-alpha"
Rodux = "1.0"
RoactRodux = "0.2"
RoactAppExperiment = "0.4.1"
RoactNavigation = "0.5.10"
Cryo = "1.1.0"
Dash = "3.3.1"
LazyRequire = "0.1.4"
llama = "1.0.0"
LuaSocialLibrariesDeps = "1.8.1"
AvatarExperienceDeps = "0.0.1"
UIBlox = "0.2.214"
Foundation = "1.66.0"
FoundationCloudAssets = "0.4.2"
FoundationImages = "1.32.0"
Thumbnailing = "0.5.1"
Otter = "1.3.7"
ReactOtter = "1.3.7"
t = "3.0.0"
enumerate = "1.0.0"
PolicyProvider = { version = "0.1.3", package = "LuaRoactPolicyProvider" }
Lumberyak = { version = "0.1.1", package = "lumberyak" }
StringUtilities = { version = "1.0.0", package = "string-utilities" }
UrlBuilder = "1.2.16"
FitFrame = { version = "2.0.0", package = "RoactFitComponents" }
NetworkingFriends = "2.12.1"
EmojiList = "1.0.0"
RoduxGames = "1.4.3"
ReactFocusNavigation = "2.0.0"
FocusBehaviors = "2.0.0"
InputHandlers = "2.0.0"
Roact = { version = "17.3.6", package = "RoactCompat" }
React = "17.3.6"
ReactIs = "17.3.6"
ReactGlobals = "17.3.6"
ReactReconciler = "17.3.6"
ReactTelemetry = "17.3.6"
ReactRoblox = "17.3.6"
Scheduler = "17.3.6"
ReactSceneUnderstanding = "0.13.1"
ReactUtils = "1.9.0"
Promise = "3.5.0"
VirtualizedList = "1.4.3"
LuauPolyfill = "1.2.3"
RegExp = "0.2.1"
RoduxNetworking = "3.4.1"
NetworkingGames = "1.2.0"
NetworkingUsers = "1.2.1"
HttpRequest = "1.1.1"
ApolloClient = "0.3.12"
GraphQL = "15.6.3"
QRCode = "0.1.0"
Merge = "0.3.1"
GraphqlToolsUtils = { version = "0.3.1", package = "Utils" }
DataLoader = "0.2.0"
UGCValidation = "1.17.18"
RoduxPresence = "3.2.3"
RoduxFriends = "4.3.0"
RoduxUsers = "1.5.1"
RoduxContacts = "0.9.1"
Signal = "1.0"
Resources = "0.6.0"
ResourcesReact = "0.6.0"
Signals = "0.6.0"
SignalsReact = "0.6.0"
SignalsRoblox = "0.6.0"
SignalsExperimental = "0.6.0"
Motion = "0.0.7"
BuilderIcons = "0.1.22"
InlineLayout = { version = "0.0.2" }

# The following packages were ported from AppTempCommon
Result = { version = "0.1.0", package = "lua-result" }
tutils = "0.1.2"

InGameMenuDependencies = "0.3.0"

RoactGamepad = "0.5.13"

[dev_dependencies]
HMR = "0.1.1"
Jest = "3.13.3"
JestBenchmark = "3.13.3"
JestGlobals = "2.4.1"
JestGlobals3 = { version = "3.13.3", package = "JestGlobals" }
FoundationTestingLibrary = "0.1.1"
ReactHMR = "0.1.1"
ReactTestingLibrary = "12.3.4"
Rhodium = "0.5.0"
TagUtils = "0.1.0"
RecordPlayback = "0.1.1"
RoduxDevtools = "1.0.0-rc.1"
ReactDevtoolsCore = "17.3.6"
# Dependencies for the Roact17 inspector
ReactDevtoolsExtensions = "17.3.6"
DeveloperTools = "0.2.7"
ApolloClientTesting = "0.3.10"
UsageTracker = "0.1.1"
ReactTestingUtils = "1.2.0"
ReactDebugging = "1.8.0"

# Patch all dependencies (git or otherwise) upon rodux to the flagged indirection package,
# which will ensure that we always use only one rodux version
[config.patch."https://github.com/roblox/rodux"]
Rodux = "3.3.0"

[config.patch."https://github.com/roblox/roblox-lua-promise"]
Promise = "3.5.0"

[config.patch."https://github.com/roblox/roact-navigation"]
RoactNavigation = "0.5.10"

# Roact 17 - Patch in roact compat for legacy roact
[config.patch."github.com/roblox/roact"]
Roact = { version = "17.3.6", package = "RoactCompat" }

[config.patch."github.com/roblox/roact-rodux"]
RoactRodux = "0.5.1"

# Patch over a deep jest dependency in order to preempt a new analysis error
# that caught several mistranslation bugs
[config.patch."github.com/roblox/picomatch-lua"]
Picomatch = "0.3.1"

[config.patch."https://github.com/roblox/dash"]
Dash = "3.3.1"
